#size-btn {
  margin-bottom: 30px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 3px solid black;
}

.square {
  background-color: white;
}
